---
const {
  variant,
  size,
  class: className ="",
  ...rest
} = Astro.props;

const primaryClass = [
  "inset-0",
  "text-white",
  "bg-[url('primary.png')]",
  "bg-contain",
  "bg-center",
  "bg-no-repeat",
  "hover:bg-[url('secondary.png')]",
  "hover:bg-contain",
  "hover:bg-center",
  "hover:bg-no-repeat",
  "content-center"
];

const secondaryClass = [
  "inset-0",
  "text-white",
  "bg-[url('secondary.png')]",
  "bg-contain",
  "bg-center",
  "bg-no-repeat",
  "hover:bg-[url('primary.png')]",
  "hover:bg-contain",
  "hover:bg-center",
  "hover:bg-no-repeat",
  "content-center"
];

const base =["rounded-xl","md:mt-8", "mt-3","font-bold", "md:w-40", "md:h-14", "w-28", "h-10"];

const xs = ["h-8", "px-4", "py-2", "text-xs", "font-medium", "rounded-md"];

const classList = [
  "flex",
  "items-center",
  "justify-center",
  "transition-all",
  "duration-150",
  ...base,
  ...(variant === "primary" ? primaryClass : secondaryClass),
  ...(size === "xs" ? xs : []),
  ...(className ? className.split(" ") : []),
].filter(Boolean).join(' ');
---

<button class={classList} {...rest}>
  <slot />
</button>