---
import Layout from '../../layouts/Layout.astro';
import Header from "../../components/globals/Header.astro"
import HeroWithImage from '../../components/indexComponents/HeroWithImage.astro';
import Overview from '../../components/indexComponents/Overview.astro';
import Objectives from '../../components/indexComponents/Objectives.astro';
import Entities from '../../components/indexComponents/Entities.astro';
---

<Layout title="!Scarlet Web">
	<main>
		<Header/>
		<HeroWithImage/>
		<Overview/>
		<Objectives/>
		<Entities/>
	</main>
</Layout>