---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro"
import HeroWithImage from '../components/HeroWithImage.astro';
import Overview from '../components/Overview.astro';
import Objectives from '../components/Objectives.astro';
import Entities from '../components/Entities.astro';
---

<Layout title="!Scarlet Web">
	<main>
		<Header/>
		<HeroWithImage/>
		<Overview/>
		<Objectives/>
		<Entities/>
	</main>
</Layout>