---
import Bomberos from "../../../public/Bomberos-Cochabamba.jpg"
import Bomberos_Voluntarios from "../../../public/Bomberos-Voluntarios-Cochabamba.jpg"
import Bomberos_GEOS from "../../../public/Bomberos-Voluntarios-GEOS-Cochabamba.jpg"
import SAR from "../../../public/SAR-Cochabamba.jpg"
import EntitiesCard from "../cards/EntitiesCard.astro"
console.log("Entities")
---
<div class="md:grid-cols-3 mb-20 md:mb-32 md:mr-8 md:ml-8 max-w-6xl ml-auto mr-auto lg:ml-auto lg:mr-auto">
    <div class="flex flex-wrap gap-8 justify-center">
        <EntitiesCard buttonText="Ver Instituci贸n" url="https://www.facebook.com/p/Bomberos-PolBol-Cochabamba-100064388964061/" title="Cuerpo de Bomberos" location="Cochabamba" imageSrc={Bomberos} imageSrcSet="https://i.ibb.co/ykLzGYP/Bomberos-Cochabamba.jpg" altText="Bomberos"/>
        <EntitiesCard buttonText="Ver Instituci贸n" url="https://www.facebook.com/Bomberos.Voluntarios.Nataniel.Aguirre.Cochabamba/?locale=es_LA" title="Cuerpo de Bomberos Voluntarios" location="Cochabamba" imageSrc={Bomberos_Voluntarios} imageSrcSet="https://i.ibb.co/HnmCLsk/Bomberos-Voluntarios-Cochabamba.jpg" altText="Bomberos Voluntarios"/>
        <EntitiesCard buttonText="Ver Instituci贸n" url="https://www.facebook.com/BomberosVoluntariosGeos/" title="Cuerpo de Bomberos GEOS" location="Cochabamba" imageSrc={Bomberos_GEOS} imageSrcSet="https://i.ibb.co/mD9HRxL/Bomberos-Voluntarios-GEOS-Cochabamba.jpg" altText="Bomberos GEOS"/>
        <EntitiesCard buttonText="Ver Instituci贸n" url="https://sarbolivia.com/nosotros/" title="SAR" location="Cochabamba" imageSrc={SAR} imageSrcSet="https://i.ibb.co/gzh0hxN/SAR-Cochabamba.jpg" altText="SAR"/>
    </div>
</div>