---
import FooterSidebar from '../components/layoutComponents/FooterSideBar.astro';
import Layout from './Layout.astro';
// import LayoutCommon from './LayoutCommon.astro';
import NavBarSidebar from '../components/layoutComponents/NavBarSidebar.astro';
import SideBar from '../components/layoutComponents/SideBar.astro';
---

<Layout title='!Scarlet Web'>
	<NavBarSidebar />

	<SideBar />

	<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
		<div
			id="main-content"
			class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900 min-h-screen"
		>
			<slot />

			<FooterSidebar />
		</div>
	</div>
</Layout>
